@charset "utf-8";

html{
    font-size: 100%;
    background-color: antiquewhite;
}



a{
    text-decoration: none;
}

img{
    max-width: 100%;
}


.page-header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(26, 171, 237);
}
.wrapper{
    max-width: 1600px;
}

.title{
    width: 210px;
    margin-top: 14px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: white;
}
.main-nav a:hover{
    color: blue;
}



.container{
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 200px;
}

.item{
    background-color: #0bd;
    color: #fff;
    margin: 10px;
    padding: 10px;
}







.input-container{
    background-color: palegreen;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 200px;
    margin: 10px;
    padding: 10px;
}
.text-input{
    background-color: darkgreen;
    color: #fff;
    margin: 10px;
    padding: 10px;
}
.voice-recognize{
    background-color: limegreen;
    color: #fff;
    margin: 10px;
    padding: 10px;
}
.error-msg {
    font-size: 12px;
    font-weight: bold;
    color: red;
    display: none;
  }



.list-container{
    background-color: salmon;
    flex-direction: column;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 200px;
    margin: 10px;
    padding: 10px;
}


.list-items{
    background-color: crimson;
    margin: 10px;
    padding: 10px;
}

.complete-container{
    background-color: violet;
    margin: 10px;
    padding: 10px;
}
.complete-items{
    background-color: darkviolet;
    margin: 10px;
    padding: 10px;
}


